/.idea
/lib
/out
/Releases
*.iml
*.bat
*.sln
module_hardwaremonitorserver.xml
module_hardwaremonitorserver_Mon_Nov_09_17-00-32_GMT_2020.xml
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/bin
Installer/HardwareMonitorDisplayInstaller/.vs
*.exe
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/Debug/HardwareMonitorDisplayInstaller.wixproj.BindBuiltOutputsFileListnull.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/Debug/HardwareMonitorDisplayInstaller.wixproj.BindContentsFileListnull.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/Debug/HardwareMonitorDisplayInstaller.wixproj.BindOutputsFileListnull.txt
*.wixobj
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/Debug/HardwareMonitorDisplayInstaller.wixproj.FileList.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/x64/Release/HardwareMonitorDisplayInstaller.wixproj.BindBuiltOutputsFileListnull.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/x64/Release/HardwareMonitorDisplayInstaller.wixproj.BindContentsFileListnull.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/x64/Release/HardwareMonitorDisplayInstaller.wixproj.BindOutputsFileListnull.txt
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/obj/x64/Release/HardwareMonitorDisplayInstaller.wixproj.FileList.txt
*.msi
