/.idea
/lib
/out
/Releases
*.iml
*.bat
*.sln
module_hardwaremonitorserver.xml
module_hardwaremonitorserver_Mon_Nov_09_17-00-32_GMT_2020.xml
Installer/HardwareMonitorDisplayInstaller/HardwareMonitorDisplayInstaller/bin
Installer/HardwareMonitorDisplayInstaller/.vs
*.exe